.productinfo {
    border: solid 1px #e3e3e3;
    margin: 3px;
}

.prdtitle {
    margin-top: 10px;
}

.productinfo > .markfav {
    margin-top: 10px;
    font-weight: bold;

    cursor: pointer;
}

.prdkey {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 3px;
}
.markfav{
}